$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$vp-font:
  "Be Vietnam Pro",
  Inter,
  Lexend,
  -apple-system,
  "PingFang SC",
  "Hiragino Sans GB",
  "Noto Serif SC",
  "Microsoft Yahei",
  sans-serif;
$vp-font-heading:
  "Be Vietnam Pro",
  Inter,
  Lexend,
  -apple-system,
  "PingFang SC",
  "Hiragino Sans GB",
  "Noto Serif SC",
  "Microsoft Yahei",
  sans-serif;
